In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pylab as pl
import openpyxl
import scipy as sp
import sys
import seaborn as sns
#import rpy2 
import os, sys

%matplotlib inline

In [2]:
TOP = os.getcwd().replace("notebooks", "")
D1 = TOP + 'data/processed/'
figures_dir = TOP + 'reports/figures/'

In [3]:
final_df = pd.read_excel(D1+'unbalanced_all_140823.xlsx', sheet_name = 'all')

In [4]:
final_df= final_df.drop('Unnamed: 0', axis = 1)

In [5]:
final_df.dt.unique()

array(['mrgn', 'gene', 'cb', 'ca', 'cba'], dtype=object)

In [6]:
final_df.columns

Index(['tox', 'classifier', 'mean_f1', 'std_f1', 'mean_sensitivity',
       'std_sensitivity', 'mean_specificity', 'std_specificity',
       'mean_accuracy', 'std_accuracy', 'mean_precision', 'std_precision',
       'dt', 'pos', 'neg', 'total'],
      dtype='object')

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [8]:
model = ols('mean_f1 ~ C(classifier)', data=final_df[final_df['dt']== 'mrgn'] ).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                  sum_sq     df         F    PR(>F)
C(classifier)   0.181449    7.0  0.214841  0.981504
Residual       16.408803  136.0       NaN       NaN

In [9]:
model = ols('mean_f1 ~ C(classifier)', data=final_df[final_df['dt']== 'gene'] ).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                  sum_sq     df         F    PR(>F)
C(classifier)   0.075987    7.0  0.093233  0.998604
Residual       15.834736  136.0       NaN       NaN

In [10]:
model = ols('mean_f1 ~ C(classifier)', data=final_df[final_df['dt']== 'cb'] ).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                  sum_sq     df         F    PR(>F)
C(classifier)   0.092501    7.0  0.107382  0.997801
Residual       16.736135  136.0       NaN       NaN

In [11]:
model = ols('mean_f1 ~ C(classifier)', data=final_df[final_df['dt']== 'ca'] ).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                  sum_sq     df         F   PR(>F)
C(classifier)   0.189227    7.0  0.217736  0.98077
Residual       16.884706  136.0       NaN      NaN

In [12]:
model = ols('mean_f1 ~ C(classifier)', data=final_df[final_df['dt']== 'cba'] ).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
aov_table

                  sum_sq     df         F    PR(>F)
C(classifier)   0.097743    7.0  0.111307  0.997533
Residual       17.060992  136.0       NaN       NaN

In [15]:
aov_table['df'].values

array([  7., 136.])

In [16]:
liver_only = pd.read_excel(D1+'unbalanced_all_140823.xlsx', sheet_name = 'liver')

In [17]:
liver_only[liver_only['tox'].isin(['chr_liver', 'sub_liver','sac_liver'])]

,Unnamed: 0,tox,classifier,mean_f1,std_f1,mean_sensitivity,std_sensitivity,mean_specificity,std_specificity,mean_accuracy,std_accuracy,mean_precision,std_precision,dt,pos,neg,total
0,16,chr_liver,ANN1,0.785,0.005,0.996,0.010,0.000,0.000,0.646,0.007,0.647,0.006,mrgn,325,191,516
1,17,chr_liver,GenRA,0.751,0.041,0.804,0.133,0.390,0.235,0.659,0.035,0.717,0.050,mrgn,325,191,516
2,18,chr_liver,GB,0.744,0.027,0.822,0.075,0.291,0.128,0.635,0.028,0.683,0.032,mrgn,325,191,516
3,19,chr_liver,KNN,0.461,0.172,0.402,0.200,0.516,0.175,0.442,0.083,0.586,0.096,mrgn,325,191,516
4,20,chr_liver,LR,0.746,0.053,0.796,0.119,0.391,0.128,0.654,0.049,0.708,0.032,mrgn,325,191,516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,123,sac_liver,KNN,0.487,0.199,0.364,0.165,0.906,0.130,0.585,0.099,0.876,0.170,cba,82,52,134
188,124,sac_liver,LR,0.743,0.173,0.777,0.267,0.644,0.308,0.716,0.155,0.793,0.172,cba,82,52,134
189,125,sac_liver,NB,0.713,0.148,0.744,0.242,0.594,0.331,0.676,0.127,0.768,0.179,cba,82,52,134
190,126,sac_liver,RF,0.754,0.134,0.812,0.230,0.569,0.356,0.707,0.139,0.770,0.181,cba,82,52,134
191,127,sac_liver,SVC,0.739,0.018,1.000,0.000,0.000,0.000,0.586,0.022,0.586,0.022,cba,82,52,134

In [18]:
liver_ = liver_only[liver_only['tox'].isin(['chr_liver', 'sub_liver','sac_liver'])]

In [19]:
liver_.dt.unique()

array(['mrgn', 'gene', 'cb', 'ca', 'cba'], dtype=object)

In [20]:
anova_res = {}
for e in liver_.dt.unique():
    model = ols('mean_f1 ~ C(classifier)', data=liver_[liver_['dt']== e ] ).fit()
    aov_table = sm.stats.anova_lm(model, typ=2)
    anova_res[e] = aov_table

In [21]:
anova_res['mrgn']

                 sum_sq    df         F    PR(>F)
C(classifier)  0.290709   7.0  1.653744  0.191205
Residual       0.401802  16.0       NaN       NaN

In [22]:
anova_res['gene']

                 sum_sq    df         F    PR(>F)
C(classifier)  0.045683   7.0  1.738661  0.170043
Residual       0.060057  16.0       NaN       NaN

In [23]:
anova_res['cb']

                 sum_sq    df         F    PR(>F)
C(classifier)  0.041861   7.0  1.127832  0.393808
Residual       0.084838  16.0       NaN       NaN

In [24]:
anova_res['ca']

                 sum_sq    df         F    PR(>F)
C(classifier)  0.289134   7.0  1.735113  0.170877
Residual       0.380884  16.0       NaN       NaN

In [25]:
anova_res['cba']

                 sum_sq    df         F    PR(>F)
C(classifier)  0.063908   7.0  1.538723  0.224209
Residual       0.094933  16.0       NaN       NaN

In [33]:
import statsmodels.stats.multicomp as mc
tukey_dict = {}
for e in liver_.dt.unique():
    comp = mc.MultiComparison(liver_[liver_['dt']== e ]['mean_f1'], liver_[liver_['dt']== e ]['classifier'])
    post_hoc_res = comp.tukeyhsd()
    tukey_dict[e] = post_hoc_res.summary()

In [34]:
tukey_dict.keys()

dict_keys(['mrgn', 'gene', 'cb', 'ca', 'cba'])

In [39]:
tukey_dict['mrgn']